{% extends "base.html" %}
{% load i18n %}
{% block intag_body %}
<div class="row-fluid">
  <h1>{% trans "PDF Archive" %}</h1>
</div>
<div class="row-fluid">
  {% for edition in editions %}
    <div class="media">
      <a href="{{edition.pdf.url}}" class="pull-left">
        <img src="{{ edition.thumbnail.url }}" alt="" class="thumbnail pdf">
      </a>
      <div class="media-body">
      <h3 class="media-heading">Issue {{ edition.issue }} </h3>
      <p>{{ edition.pub_date|date:"M Y" }}</p>
      <p> {{ edition.cover_story }} </p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
